@model Modelo.DAO.evento

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>evento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cancelado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cancelado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.palavra_chave)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.palavra_chave)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.palavra_chave2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.palavra_chave2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.limite_participantes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.limite_participantes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Local)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Local)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.data_hora_fim)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.data_hora_fim)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emitidos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emitidos)
            </dd>
    
            <dt>
                Evento principal
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.evento_composto.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Responsavel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usuario.Nome)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
