@model IEnumerable<Modelo.DAO.usuario>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista usuários</h2>

<!--Include = "login,pass,Nome,Endereco,CEP,Nascimento,cadastro,CPF,RG,email,r_phone,cel_phone,newsletter")-->
<table class="table">
    <tr>
          <th>
            @Html.DisplayNameFor(model => model.login);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pass);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cadastro);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RG);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_phone);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cel_phone);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.newsletter);
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.login);
            </td>
            <td>
                @Html.DisplayFor(model => item.pass);
            </td>
            <td>
                @Html.DisplayFor(model => item.Nome);
            </td>
            <td>
                @Html.DisplayFor(model => item.Endereco);
            </td>
            <td>
                @Html.DisplayFor(model => item.CEP);
            </td>
            <td>
                @Html.DisplayFor(model => item.Nascimento);
            </td>
            <td>
                @Html.DisplayFor(model => item.cadastro);
            </td>
            <td>
                @Html.DisplayFor(model => item.CPF);
            </td>
            <td>
                @Html.DisplayFor(model => item.RG);
            </td>
            <td>
                @Html.DisplayFor(model => item.Email);
            </td>
            <td>
                @Html.DisplayFor(model => item.r_phone);
            </td>
            <td>
                @Html.DisplayFor(model => item.cel_phone);
            </td>
            <td>
                @Html.DisplayFor(model => item.newsletter);
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.login })|
                @Html.ActionLink("Details", "Details", new { id = item.login })|
                @Html.ActionLink("Delete", "Delete", new { id = item.login })
            </td>
        </tr>
    }

</table>