@using Web.Models
@model Modelo.DAO.usuario

@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    //cria a tag do formulário
    @Html.AntiForgeryToken() // previne o ataque CSRF
                            @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <table>
                    <tr>
                        <td>@Html.LabelFor(a => a.login)</td>
                        <td>@Html.TextBoxFor(a => a.login)</td>
                        <td>@Html.ValidationMessageFor(a => a.login)</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(a => a.pass)</td>
                        <td> @Html.PasswordFor(a => a.pass) </td>
                        <td> @Html.ValidationMessageFor(a => a.pass) </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Login" />
                        </td>
                        <td></td>
                    </tr>
                </table>
                }
            </section>
        </div>
      
    </div>
    <div>
    </div>
        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
    }