@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <div class="container">
        <nav id="nav">
            <ul class="menu">
                <li>
                    @Html.ActionLink("Evento", "Index", "Eventos")
                    <ul class="submenu-1">
                        <li>
                            @Html.ActionLink("Criar", "Create", "eventos")
                        </li>
                        @*<li>
                            @Html.ActionLink("Editar", "Editar", "Eventoes")
                        </li>*@
                        <li>
                            @Html.ActionLink("Exibir Eventos", "Index", "eventos")
                        </li>
                    </ul>
                <li>
                    @Html.ActionLink("Eventos Compostos", "Index", "Evento_composto")
                    <ul class="submenu-1">
                        <li>
                            @Html.ActionLink("Criar", "Create", "Evento_composto")
                        </li>
                        @*<li>
                            @Html.ActionLink("Editar", "Editar", "Evento_composto")
                        </li>*@
                        <li>
                            @Html.ActionLink("Exibir Eventos Compostos", "Lista", "Evento_composto")
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>

    </div>



