@using Microsoft.AspNet.Identity
@using Modelo.PN;
@if (pnEventos.Logado)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bem vindo, " + Session["nomeUsuarioLogado"] + "!", "Edit", new {id = Session["usuarioLogadoID"]}, "Home")
        </li>
        <li>@Html.ActionLink("Sair", "LogOff", "Home")</li>
    </ul>
    }
}
else
{   
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastre-se", "Create", "Home")</li>
        <li>@Html.ActionLink("Login", "Login", "Home")</li>
    </ul>
}
