@model IEnumerable<Modelo.DAO.participante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.evento.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presenca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.evento.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presenca)
        </td>
        <td>
            @Html.ActionLink("Presente", "Presente", new { id = item.evento.Id + "-" + item.usuario.login }) |
            @Html.ActionLink("Ausente", "Ausente", new { id = item.evento.Id + "-" + item.usuario.login }) |
            @Html.ActionLink("Certificado", "Certificado", new { id = item.evento.Id + "-" + item.usuario.login }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.evento.Id+"-"+item.usuario.login})
        </td>
    </tr>
}

</table>
